<div class="row mt-5">
    <div class="col-md-auto m-auto">
        <div class="card border-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">
                Welcome <%= user.name %>
            </div>

            <div class="card-body">
                <h4 class="card-title">Dashboard</h4>


                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.
                </p>
                <div class=""><a href="/admin/logout" class="btn btn-outline-danger">Logout</a></div>
            </div>
        </div>
    </div>
</div>