{{> admin-navbar}}

{{> messages}}
<div class="row mt-5">
    <div class="col-md-auto m-auto">
        <div class="card border-primary mb-3" style="max-width: 20rem;">

            {{#if user}}
            {{#each user}}
            {{this.user}}
            {{/each}}
            {{/if}}
            <div class="card-header">
                Welcome <b>{{user.firstname}}</b>
            </div>


            <div class="card-body">
                <h4 class="card-title">Dashboard</h4>
                <h5>No. Admins: </h5>
                <h5>No. Users: </h5>
                <h5>Amount of Storage Used: </h5>
                <p class="card-text">This is ADMIN Dashboard page, Some quick example text to build on the card title
                    and make up the bulk of the
                    card's content.
                </p>

                {{!-- If user row found in the cookie --}}
                {{#if user.id}}
                <div class=""><a href="/logout" class="btn btn-outline-danger">Logout</a></div>
                {{else}}
                <div class=""><a href="/login" class="btn btn-outline-danger">Login</a></div>

                {{/if}}
            </div>
        </div>
    </div>
</div>