<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body">
            <h1 class="text-center mb-3">
                <i class="fas fa-user-plus"></i>
                Register
            </h1>
            <form action="/users/register" method="POST">

                <div class="form-group">
                    <div class="form-floating">
                        <input type="name" id="firstname" name="firstname" class="form-control"
                            placeholder="Enter First Name" value="" />
                        <label for="firstname">First Name</label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-floating mt-2">
                        <input type="lastname" id="lastname" name="lastname" class="form-control"
                            placeholder="Enter Last Name" value="" />
                        <label for="lastname">Last Name</label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-floating mt-2">
                        <input type="username" id="username" name="username" class="form-control"
                            placeholder="Enter Username" value="" />
                        <label for="username">Username</label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-floating mt-2">
                        <input type="email" id="floatingInput" class="form-control" placeholder="name@example.com" />
                        <label for="floatingInput">Email Address</label>
                        <small id="emailHelp" class="form-text text-muted">We'll never share
                            your email with anyone else.</small>
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-floating mt-2">
                        <input type="password" id="password" class="form-control" placeholder="Create Password" />
                        <label for="password">Password</label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-floating mt-2">
                        <input type="password" id="password2" class="form-control" placeholder="Confirm Password" />
                        <label class="form-label mt-2" for="password2">Confirm Password</label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-label mt-2">
                        Role
                    </div>
                    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                        <input type="radio" class="btn-check" id="admin_radio" name="role" value="admin"
                            autocomplete="off" checked="" />
                        <label for="admin_radio" class="btn btn-outline-primary">Admin</label>

                        <input type="radio" class="btn-check" id="owner_radio" name="role" value="owner"
                            autocomplete="off" checked="" />
                        <label for="owner_radio" class="btn btn-outline-primary">Owner</label>

                        <input type="radio" class="btn-check" id="editor_radio" name="role" value="editor"
                            autocomplete="off" checked="" />
                        <label for="editor_radio" class="btn btn-outline-primary">Editor</label>

                        <input type="radio" class="btn-check" id="visitor_radio" name="role" value="visitor"
                            autocomplete="off" checked="" />
                        <label for="visitor_radio" class="btn btn-outline-primary">Visitor</label>
                    </div>
                </div>
                <div class="form-floating mt-2">
                    <div class="form-group">
                        <label class="form-label mt-2" for="name">Bio</label>
                        <input type="name" id="name" name="name" class="form-control" placeholder="Enter Name"
                            value="" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-label mt-2">
                        Account Type
                    </div>

                    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                        <input type="radio" class="btn-check" id="btnradio5" name="account_type" value="public"
                            autocomplete="off" checked="" />
                        <label for="btnradio5" class="btn btn-outline-primary">Public</label>

                        <input type="radio" class="btn-check" id="btnradio6" name="account_type" value="private"
                            autocomplete="off" checked="" />
                        <label for="btnradio6" class="btn btn-outline-primary">Private</label>
                    </div>
                </div>

                <div class="form-group">
                    <label for="profile_picture" class="form-label mt-2">Profile Picture</label>
                    <input class="form-control" type="file" id="profile_picture" />
                </div>
                <button type="submit" class="btn btn-outline-primary mt-4">
                    Register
                </button>

            </form>
            <p class="lead mt-4">Have An Account? <a href="login">Login</a></p>
        </div>
    </div>
</div>