<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body text-center">
            <h2>Welcome</h2>
            <h1><i class="fa-regular fa-user"></i></h1>
            <p>Create an account or login</p>
            <a href="/users/register" class="btn btn-outline-primary mb-2">Register</a>
            <a href="/users/register" class="btn btn-outline-primary">Login</a>
        </div>
    </div>
</div>