<footer class="bg-body-tertiary text-center mt-5">
    <!-- Grid container -->
    <div class="container p-4">
        <div class="text-info">

            <div class="text-center p-3">
                <h4>Logged-In as: {{user.row.user_firstname}} {{user.row.user_lastname}}</h4>
                <small class="text-danger">REMOVE THE LINE ABOVE LATER.</small>
            </div>

            <!-- Copyright -->
            <div class="text-center p-3">
                <h4>&copy; 2024 ASIM</h4>
            </div>
            <!-- Copyright -->

            <!-- Section: Social media -->
            <section class="mb-2">
                <!-- Facebook -->

                <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#!" role="button"><i
                        class="fab fa-facebook-f"></i></a>

                <!-- Twitter -->
                <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#!" role="button"><i
                        class="fab fa-twitter"></i></a>

                <!-- Google -->
                <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#!" role="button"><i
                        class="fab fa-google"></i></a>

                <!-- Instagram -->
                <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#!" role="button"><i
                        class="fab fa-instagram"></i></a>

                <!-- Linkedin -->
                <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#!" role="button"><i
                        class="fab fa-linkedin-in"></i></a>

                <!-- Github -->
                <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#!" role="button"><i
                        class="fab fa-github"></i></a>
            </section>
            <!-- Section: Social media -->

            <!-- Section: Text  -->
            <section class="mb-5">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus quas dolore dolores.
                    Excepturi tempora voluptate laboriosam quibusdam ipsam repellat omnis officiis. Cumque maxime vitae
                    et
                    illum debitis labore velit. Veniam.
                </p>
            </section>
            <!-- Section: Text  -->
        </div>
    </div>
</footer>