{{!-- Validation error --}}
{{#if errors}}
{{#each errors}}
<div class="alert alert-dismissible alert-danger">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    {{this.msg}}
</div>
{{/each}}
{{/if}}
{{!-- Validation error --}}

{{!-- Flash error_msg --}}



{{#if error_msg}}
<div class="alert alert-dismissible alert-danger">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    {{error_msg}}
</div>
{{/if}}


{{!-- Flash error_msg --}}


{{!-- Flash Success_msg --}}

{{#if success_msg}}

<div class="alert alert-dismissible alert-success">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    {{success_msg}}
</div>

{{/if}}

{{!-- Flash Success_msg --}}


{{!-- Passport error --}}
{{#if error}}
<div class="alert alert-dismissible alert-danger">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    {{error}}
</div>
{{/if}}
{{!-- Passport error --}}