{{#if user.id}}
{{#ifAdmin user.role}}
{{> admin-navbar}}
{{else}}

{{> todo-navbar}}
{{/ifAdmin}}

{{else}}
{{!-- <h6>NOT LOGGED IN</h6> --}}
{{/if}}

{{!-- ----------------------------------------------------------------------------------- --}}